/*
Project: The Orbitalis Project
Authors: Gianluca Martini, Hugo Baeta, June Jiwoong Kim
*/


body {
	padding: 0;
	margin: 0 !important;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: rgba(145,180,200,0.5);

	background: rgb(5,10,30) url('../images/body-background.jpg') 0 0;
	background-size: cover;
}

a {
	color: rgba(145,180,200,0.5);
}

a:hover {
	color: rgba(45, 225, 175, 0.5);
}

#container {
	overflow: hidden;
  width: 70%;
  position: absolute;
  height: 100%;
  right: 0px;
  margin: 0px;
  padding: 0px;

}


#content {
	position: absolute;
	z-index: 10;
	width: 30%;
	height: 100%;
	/* background: rgba(20,20,45,0.8); */
	overflow-y: auto;

	background: rgba(8,52,97,0.8);
	background: -moz-linear-gradient(top, rgba(8,52,97,0.7) 0%, rgba(33,1,36,0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,52,97,0.6)), color-stop(100%, rgba(33,1,36,0.8)));
	background: -webkit-linear-gradient(top, rgba(8,52,97,0.7) 0%, rgba(33,1,36,0.6) 100%);
	background: -o-linear-gradient(top, rgba(8,52,97,0.7) 0%, rgba(33,1,36,0.6) 100%);
	background: -ms-linear-gradient(top, rgba(8,52,97,0.7) 0%, rgba(33,1,36,0.6) 100%);
	background: linear-gradient(to bottom, rgba(8,52,97,0.7) 0%, rgba(33,1,36,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083461', endColorstr='#210124', GradientType=0 );
}



/* Header of Content Area */

header {
	width: 92%;
	padding: 20% 4%;
	position: relative;
	cursor: pointer;
}

header:before {
	content: 'about';
	display: block;
	width: 100%;
	position: absolute;
	bottom: 8%;
	left: 0;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgba(45, 225, 175, 0.5);
	opacity: 0;
	transition: all 0.5s ease;
}

header:hover:before {
	opacity: 1;
	transition: all 0.5s ease;
}

header h1 {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 200;
	font-size: 16px;
	letter-spacing: 3px;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
	color: rgba(145,180,200,0.5);
}

header h1 span {
	font-weight: 300;
	color: rgba(185,220,240,0.9);
}



/* Satellites list */

#satellites {
	width: 96%;
	margin: 0;
	padding: 4% 2%;
	border-top: 1px dashed rgba(245,250,255,0.1);
	border-bottom: 1px dashed rgba(245,250,255,0.1);
}

#satellites li {
	display: inline-block;
	width: 20%;
	margin: 2%;
	padding: 0;
	background: rgba(33,1,36,0.3);
	text-align: center;
	font-size: 200%;
	line-height: 2.3;
	color: rgba(145,180,200,0.1);
	transition: all 0.5s ease;
}

#satellites li:hover {
	background: rgba(80,30,65,0.8);
	color: rgba(245,250,255,0.5);
	cursor: pointer;
	transition: all 0.3s ease;
}

#satellites li.active {
	background: rgba(45, 225, 175, 0.5);
	color: rgba(8,52,97,0.8);
}



/* Satellitest Controls Buttons */

#satellites-controls {
	width: 96%;
	margin: 0;
	padding: 4% 2%;
	border-bottom: 1px dashed rgba(245,250,255,0.1);
}

#satellites-controls button {
	width: 45%;
	margin: 2%;
	padding: 0 10%;
	outline: none;
	border: none;
	background: rgba(145,180,200,0.0);
	line-height: 3;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 700;
	color: rgba(145,180,200,0.5);
	box-shadow: inset 0 0 0 2px rgba(145,180,200,0.5);
	transition: all 0.5s ease;
}

#satellites-controls button:nth-child(3) {
	width: 95%;
}

#satellites-controls button.active {
	background: rgba(45, 225, 175, 0.5);
	color: rgba(8,52,97,0.8);
	box-shadow: inset 0 0 0 2px rgba(145,180,200,0);
	transition: all 0.3s ease;
}

#satellites-controls button:hover {
	background: rgba(45, 225, 175, 0.8);
	color: rgba(8,52,97,0.8);
	box-shadow: inset 0 0 0 2px rgba(145,180,200,0);
	transition: all 0.3s ease;
}



/* Intro / About */

.intro,
.about {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;

	background: rgba(8,52,97,0.8);
	background: -moz-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,52,97,0.9)), color-stop(100%, rgba(33,1,36,0.9)));
	background: -webkit-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: -o-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: linear-gradient(to bottom, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083461', endColorstr='#210124', GradientType=0 );

	transition: all 0.8s ease;
}

.about {
	visibility: hidden;
	opacity: 0;
}

.intro:before,
.intro:after,
.about:before,
.about:after {
	content: '';
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}

.intro:before,
.about:before {
	background: url('../images/body-background.jpg') 0 0 repeat-x;
	background-size: cover;
}

.intro:after {
	background: rgba(8,52,97,0.8);
	background: -moz-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,52,97,0.9)), color-stop(100%, rgba(33,1,36,0.9)));
	background: -webkit-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: -o-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	background: linear-gradient(to bottom, rgba(8,52,97,0.9) 0%, rgba(33,1,36,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083461', endColorstr='#210124', GradientType=0 );
	opacity: .5;
}

.about:after {
	background: rgba(8,52,97,0.8);
	background: -moz-linear-gradient(top, rgba(63,30,66,0.5) 0%, rgba(33,1,36,0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(8,52,97,0.6)), color-stop(100%, rgba(33,1,36,0.8)));
	background: -webkit-linear-gradient(top, rgba(63,30,66,0.5) 0%, rgba(33,1,36,0.8) 100%);
	background: -o-linear-gradient(top, rgba(63,30,66,0.5) 0%, rgba(33,1,36,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(63,30,66,0.5) 0%, rgba(33,1,36,0.8) 100%);
	background: linear-gradient(to bottom, rgba(63,30,66,0.5) 0%, rgba(33,1,36,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083461', endColorstr='#210124', GradientType=0 );
	opacity: .8;
}


.intro-container,
.about-container {
	width: 30%;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}


.intro h1,
.about h1 {
	margin: 0 0 10%;
	padding: 0;
	font-weight: 200;
	font-size: 200%;
	letter-spacing: 3px;
	line-height: 1;
	text-transform: uppercase;
	color: rgba(145,180,200,0.5);
}

.about h1 {
	font-size: 100%;
}

.intro h1 span,
.about h1 span {
	display: block;
	font-size: 230%;
	font-weight: 300;
	color: rgba(185,220,240,0.9);
}


.intro p,
.about p {
	margin: 0;
	font-weight: 300;
	line-height: 1.5em;
	color: rgba(145,180,200,0.8)
}

.about p {
	font-size: 130%;
	letter-spacing: 1px;
}

.intro-action a,
.about-action a {
	display: inline-block;
	margin: 10% 0 0;
	padding: 0 10%;
	cursor: pointer;
	line-height: 3;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	color: rgba(145,180,200,0.5);
	box-shadow: inset 0 0 0 2px rgba(145,180,200,0.5);

	transition: all 0.5s ease;
}

.intro-action a:hover,
.about-action a:hover {
	color: rgba(8,52,97,0.9);
	background: rgba(45, 225, 175, 0.8);
	box-shadow: inset 0 0 0 2px rgba(145,180,200,0);

	transition: all 0.3s ease;
}









/*

#about {
	display: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
}

#about p:first-child {
	margin-top: 200px;
}

#about p {
	margin: 5px auto;
	max-width: 500px;
	padding: 20px;
	color: white;
	-webkit-transition: 0.6s;
			transition: 0.6s;
}

#about a {
	color: white;
	text-decoration: underline;
}

#nav_container {
	z-index: 10;
	display: none;
	width: 100;
	bottom: 0px;
	position: absolute;
	background-color: rgba(0,0,0,0.2);
}

#main_nav {
	position: relative;
	margin: 0px auto;
    padding:0;
    list-style-type:none;
    text-align:center;
}

#main_nav li {
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline-block;
}

.button {
	width: 80px;
	height: 30px;
	border: 2px solid white;
	-webkit-transition: 0.6s;
			transition: 0.6s;
}

#explore_btn {
	z-index: 100;
	display: none;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: 2px solid white;
}

.button:hover {
	cursor: pointer;
	background-color: red;
}

.button p{
	color: white;
	text-align: center;
	margin: 0px;
}

.selected {
	background-color: red;
}

#title {
	font-family: 'Droid Sans', sans-serif;
	display: none;
	right: 0px;
	top: 0px;
	z-index: 1;
	position: absolute;
	padding-right: 30px;
}

*/
